<ion-card>
  <img alt="circulo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>circulo</ion-card-title>
    <ion-card-subtitle>Perimetro</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>El perímetro de un círculo es la longitud de la linea que forma su borde.</p><br>
    <h6>Donde:</h6>
    <p>P = perímetro</p>
    <p>π = constante pi (aproximadamente 3.1416)</p>
    <p>r = radio del círculo</p> 
    <p>d = diámetro del círculo</p>
  </ion-card-content>
</ion-card>

